<section class="box-green">
    <div>
        <h1>Snippets</h1>

        <h2>Bash</h2>
        <ul>
            <li><a href="/snippets/bash.html#pipes">Pipes</a></li>
        </ul>

        <h2>OpenSSL</h2>
        <ul>
            <li><a href="/snippets/openssl.html#basics">Basics</a>
            <li><a href="/snippets/openssl.html#info">Info</a></li>
            <li><a href="/snippets/openssl.html#unpacking">Unpacking</a>
            <li><a href="/snippets/openssl.html#generating">Generating</a>
            <li><a href="/snippets/openssl.html#comparing">Comparing</a>
        </ul>

        <h2>PSQL</h2>
        <ul>
            <li><a href="/snippets/psql.html#basics">Basics</a>
        </ul>

        <h2>SSH</h2>
        <ul>
            <li><a href="/snippets/ssh.html#tunneling">Tunneling</a></li>
        </ul>
    </div>
</section>
