{% extends "_base.html" %}

{% block title %}Bash snippets{% endblock %}

{% block content %}

    {% include "snippets/_base.html" %}

    <section class="box-green">
        <div>
            <h1>Bash cheatsheet</h1>

            <h2 id="basics">Pipes</h2>
            <dl class="snippets">
                <dd>Pipe multiple lines</dd>
                <dt>
                    <pre><code>$ cat << EOF | bat -l json
{
    "test": 123,
    "test2": 456,
}
EOF
</code></pre>
                </dt>
            </dl>
        </div>
    </section>
{% endblock %}
