{% extends "_base.html" %}

{% block title %}OpenSSL snippets{% endblock %}

{% block content %}

    {% include "snippets/_base.html" %}

    <section class="box-green">
        <div>
            <h1>OpenSSL cheatsheet</h1>

            <h2 id="basics">Basics</h2>
            <dl class="snippets">
                <dd>Show help by certificate format</dd>
                <dt>
                    <pre><code>$ openssl x509 --help
$ openssl pkcs12 --help
$ openssl req --help</code></pre>
                </dt>
            </dl>

            <h2 id="info">Info</h2>
            <dl class="snippets">
                <dd>Display certificate info</dd>
                <dt><code>$ openssl x509 -text -noout -in cert.pem</code></dt>
                <dd>Display brief info for domain certificate</dd>
                <dt><code>$ openssl s_client -connect imn1.xyz:443 -brief</code></dt>
                <dd>Display extensive info for domain certificate</dd>
                <dt><code>$ openssl s_client -connect imn1.xyz:443</code></dt>
                <dd>Display certificate expiry date</dd>
                <dt><code>$ openssl x509 -enddate -noout -in cert.pem</code></dt>
            </dl>

            <h2 id="unpacking">Unpacking</h2>
            <dl class="snippets">
                <dd>Cert from pkcs12</dd>
                <dt><code>$ openssl pkcs12 -nodes -in domena.cz.pfx -out cert.crt</code></dt>
                <dd>Key from pkcs12</dd>
                <dt><code>$ openssl pkcs12 -nodes -in domena.cz.pfx -nocerts -out key.key</code></dt>
            </dl>

            <h2 id="generating">Generating</h2>
            <dl class="snippets">
                <dd>Generate key with a password</dd>
                <dt><code>$ openssl genrsa -out private.key 2048</code></dt>
                <dd>Generate CSR (certificate request)</dd>
                <dt><code>$ openssl req -newkey rsa:2048 -keyout private.key -out request.csr</code></dt>
                <dd>Remove password from key</dd> 
                <dt><code>$ openssl rsa -in private.key -out private_without_passphrase.key</code></dt>
                <dd>Add password to the key</dd>
                <dt><code>$ openssl rsa -in private_without_passphrase.key -out private.key -des3</code></dt>
            </dl>

            <h2 id="comparing">Comparing</h2>
            <dl class="snippets">
                <dd>Compare modulus of key and</dd>
                <dt>
                    <pre><code>$ openssl x509 -noout -modulus -in file.cert
$ openssl rsa -noout -modulus -in file.key</code></pre>
                </dt>
            </dl>
        </div>
    </section>
{% endblock %}
