{% extends "_base.html" %}

{% block title %}PSQL snippets{% endblock %}

{% block content %}

    {% include "snippets/_base.html" %}

    <section class="box-green">
        <div>
            <h1>PSQL cheatsheet</h1>

            <h2 id="data-dump">Data dump</h2>
            <dl class="snippets">
                <dd>Dumps data from select to CSV file</dd>
                <dt><code>\copy (select * from table) to '/tmp/dump.csv' with csv header</code></dt>
            </dl>
        </div>
    </section>
{% endblock %}
