{% extends "_base.html" %}

{% block title %}SSH snippets{% endblock %}

{% block content %}

    {% include "snippets/_base.html" %}

    <section class="box-green">
        <div>
            <h1>SSH cheatsheet</h1>

            <h2 id="tunneling">Tunneling</h2>
            <dl class="snippets">
                <dd>Tunnel localhost port 3307 to remote server port 3306</dd>
                <dt><code>$ ssh -L 3307:localhost:3306 remote-server</code></dt>
                <dd>Tunnel remote server port 1222 to localhost port 1223</dd>
                <dt><code>$ ssh -R 1222:localhost:1223 remote-server</code></dt>
            </dl>
        </div>
    </section>
{% endblock %}
