<section class="box-green">
    <div>
        <h1>Cheatsheets</h1>

        <h2>Feh</h2>
        <ul>
            <li><a href="/cheatsheets/feh.html">Basics</a></li>
        </ul>

        <h2>Midnight Commander</h2>
        <ul>
            <li><a href="/cheatsheets/mc.html#basics">Basics</a></li>
            <li><a href="/cheatsheets/mc.html#layout">Layout</a></li>
            <li><a href="/cheatsheets/mc.html#file-manipulation">File manipulation</a></li>
            <li><a href="/cheatsheets/mc.html#history">History</a></li>
        </ul>

        <h2>MPV</h2>
        <ul>
            <li><a href="/cheatsheets/mpv.html#basics">Basics</a></li>
        </ul>

        <h2>NeoVim</h2>
        <ul>
            <li><a href="/cheatsheets/neovim.html#moving-content">Moving content</a>
            <li><a href="/cheatsheets/neovim.html#text-objects">Text objects</a>
            <li><a href="/cheatsheets/neovim.html#buffers">Buffers</a>
            <li><a href="/cheatsheets/neovim.html#vertical-scrolling">Vertical scrolling</a>
            <li><a href="/cheatsheets/neovim.html#quickfix">Quickfix</a>
            <li><a href="/cheatsheets/neovim.html#conflicts">Conflicts</a>
            <li><a href="/cheatsheets/neovim.html#miscellanious">Miscellaneous</a>
            <li><a href="/cheatsheets/neovim.html#markology">Plugin: markology</a>
            <li><a href="/cheatsheets/neovim.html#nvimtree">Plugin: nvimtree</a>
            <li><a href="/cheatsheets/neovim.html#telescope">Plugin: telescope</a>
        </ul>

        <h2>NeoMutt</h2>
        <ul>
            <li><a href="/cheatsheets/neomutt.html#basics">Basics</a></li>
            <li><a href="/cheatsheets/neomutt.html#message">Message</a></li>
            <li><a href="/cheatsheets/neomutt.html#composing">Composing</a></li>
        </ul>

        <h2>Nsxiv</h2>
        <ul>
            <li><a href="/cheatsheets/nsxiv.html#basics">Basics</a></li>
        </ul>

        <h2>pg_dump</h2>
        <ul>
            <li><a href="/cheatsheets/pg_dump.html#basics">Basics</a></li>
        </ul>

        <h2>TeX</h2>
        <ul>
            <li><a href="https://gitlab.com/imn1/tex/-/blob/master/tex.pdf?ref_type=heads">Cheatsheet</a></li>
        </ul>

        <h2>WeeChat</h2>
        <ul>
            <li><a href="/cheatsheets/weechat.html#chat">Chat</a></li>
            <li><a href="/cheatsheets/weechat.html#text-format">Text format</a></li>
            <li><a href="/cheatsheets/weechat.html#topic">Topic</a></li>
            <li><a href="/cheatsheets/weechat.html#users">Users</a></li>
            <li><a href="/cheatsheets/weechat.html#miscellanious">Miscellanious</a></li>
        </ul>

        <h2>Zathura</h2>
        <ul>
            <li><a href="/cheatsheets/zathura.html">Basics</a></li>
        </ul>
    </div>
</section>
