{% extends "_base.html" %}

{% block title %}Feh cheatsheet{% endblock %}

{% block content %}

    {% include "cheatsheets/_base.html" %}

    <section class="box-green">
        <div>
            <h1>Feh cheatsheet</h1>

            <h2>Basics</h2>
            <dl>
                <dt><code>/</code></dt>
                <dd>Fit to window</dd>
                <dt><code>!</code></dt>
                <dd>Fill the window</dd>
                <dt><code>f</code></dt>
                <dd>Fullscreen</dd>
                <dt><code>↑</code></dt>
                <dd>Zoom in</dd>
                <dt><code>↓</code></dt>
                <dd>Zoom out</dd>
                <dt><code>d</code></dt>
                <dd>Show filename</dd>
            </dl>
        </div>
    </section>
{% endblock %}
