{% extends "_base.html" %}

{% block title %}Midnight Commander cheatsheet{% endblock %}

{% block content %}

    {% include "cheatsheets/_base.html" %}

    <section class="box-green">
        <div>
            <h1>Midnight Commander cheatsheet</h1>

            <h2 id="basics">Basics</h2>
            <dl>
                <dt><code>Alt + .</code></dt>
                <dd>toggle show/hide hidden files/directories</dd>
                <dt><code>Alt + ,</code></dt>
                <dd>switch between vertical and horizontal layout</dd>
                <dt><code>Alt + ?</code></dt>
                <dd>file search dialog</dd>
                <dt><code>Alt + s</code></dt>
                <dd>quick search</dd>
            </dl>

            <h2 id="layout">Layout</h2>
            <dl>
                <dt><code>CTRL + X q</code></dt>
                <dd>file preview in next pane</dd>
                <dt><code>Alt + T</code></dt>
                <dd>cycle between layout types</dd>
            </dl>

            <h2 id="file-manipulation">File manipulation</h2>
            <dl>
                <dt><code>CTRL + X c</code></dt>
                <dd>change file mod</dd>
                <dt><code>CTRL + X o</code></dt>
                <dd>change file ownership</dd>
                <dt><code>CTRL + X v</code></dt>
                <dd>create symlink</dd>
            </dl>

            <h2 id="history">History</h2>
            <dl>
                <dt><code>Alt + h</code></dt>
                <dd>Command history</dd>
                <dt><code>Alt + H</code></dt> 
                <dd>Directory history</dd>
            </dl>
        </div>
    </section>

{% endblock %}
