{% extends "_base.html" %}

{% block title %}MPV cheatsheet{% endblock %}

{% block content %}

    {% include "cheatsheets/_base.html" %}

    <section class="box-green">
        <div>
            <h1>MPV cheatsheet</h1>

            <h2>Basics</h2>
            <dl>
                <dt><code>[</code> / <code>]</code></dt>
                <dd>In/decrease playback speed</dd>
            </dl>

            <h2>Playlist</h2>
            <dl>
                <dt><code>F8</code></dt>
                <dd>Quickly show playlist</dd>
                <dt><code>gp</code></dt>
                <dd>Browse current playlist</dd>
                <dt><code>&lt;</code> / <code>&gt;</code></dt>
                <dd>Previous/next playlist item</dd>
            </dl>
        </div>
    </section>
{% endblock %}
