{% extends "_base.html" %}

{% block title %}NeoMutt cheatsheet{% endblock %}

{% block content %}

    {% include "cheatsheets/_base.html" %}

    <section class="box-green">
        <div>
            <h1>NeoMutt cheatsheet</h1>

            <h2 id="basics">Basics</h2>
            <dl>
                <dt><code>B</code></dt>
                <dd>Toggle sidebar</dd>
                <dt><code>m</code></dt>
                <dd>New message</dd>
                <dt><code>TAB</code></dt>
                <dd>Jump between unread messages</dd>
                <dt><code>o</code></dt>
                <dd>Sort index</dd>
                <dt><code>O</code></dt>
                <dd>Sort index (reversed)</dd>
                <dt><code>/</code></dt>
                <dd>Search</dd>
                <dt><code>$</code></dt>
                <dd>Save changes in mailbox</dd>
                <dt><code>R</code></dt>
                <dd>Send a concept</dd>
            </dl>

            <h2 id="message">Message</h2>
            <dl>
                <dt><code>h</code></dt>
                <dd>Toggle message headers</dd>
                <dt><code>F</code></dt>
                <dd>Mark message as important</dd>
                <dt><code>N</code></dt>
                <dd>Mark message as unread</dd>
                <dt><code>v</code></dt>
                <dd>Show attachments</dd>
                <dt><code>s</code></dt>
                <dd>Save message + delete from inbox</dd>
            </dl>

            <h2 id="composing">Composing</h2>
            <dl>
                <dt><code>a</code></dt>
                <dd>Add an attachment</dd>
                <dt><code>P</code></dt>
                <dd>Save message to concepts (postponed)</dd>
                <dt><code>y</code></dt>
                <dd>Send the message</dd>
            </dl>
        </div>
    </section>
{% endblock %}
