{% extends "_base.html" %}

{% block title %}NeoVim cheatsheet{% endblock %}

{% block content %}

    {% include "cheatsheets/_base.html" %}

    <section class="box-green">
        <div>
            <h1>NeoVim cheatsheet</h1>

            <h2 id="moving-content">Moving content</h2>
            <dl>
                <dt><code>&gt;&gt;</code></dt>
                <dd>Increase indentation of the current line.</dd>
                <dt><code>&lt;&lt;</code></dt>
                <dd>Decrease indentation of the current line.</dd>
                <dt><code>CTRL + t</code></dt>
                <dd>Increase indentation of the current line in Insert mode.</dd>
                <dt><code>CTRL + d</code></dt>
                <dd>Decrease indentation of the current line in Insert mode.</dd>
                <dt><code>CTRL + R "</code></dt>
                <dd>Paste yanked string in Insert mode</dd>
            </dl>

            <h2 id="text-objects">Text objects</h2>
            <dl>
                <dt><code>di(</code></dt>
                <dd>Deletes all text between ( and )</dd>
                <dt><code>ci(</code></dt>
                <dd>Clears (deletes and jumps into insert mode) all text between ( and )</dd>
                <dt><code>da(</code></dt>
                <dd>Deletes all text in ( and ) including those characters</dd>
                <dt><code>ca(</code></dt>
                <dd>Clears (deletes and jumps into insert mode) all text in ( and ) including those characters</dd>
                <dt><code>cc</code></dt>
                <dd>Replace entire line</dd>
                <dt><code>gx</code></dt>
                <dd>Open link under the cursor</dd>
            </dl>

            <h2 id="buffers">Buffers</h2>
            <dl>
                <dt><code>CTRL + w T</code></dt>
                <dd>Current buffer into new tab.</dd>
                <dt><code>CTRL + w r</code></dt>
                <dd>Swap split windows - forwards.</dd>
                <dt><code>CTRL + w R</code></dt>
                <dd>Swap split windows - backwards.</dd>
                <dt><code>CTRL + w v</code></dt>
                <dd>Split current window vertically.</dd>
                <dt><code>CTRL + w s</code></dt>
                <dd>Split current window horizontally.</dd>
            </dl>

            <h2 id="vertical-scrolling">Vertical scrolling</h2>
            <dl>
                <dt><code>CTRL + Y</code></dt>
                <dd>Move up - 1 line</dd>
                <dt><code>CTRL + E</code></dt>
                <dd>Move down - 1 line</dd>
                <dt><code>CTRL + U</code></dt>
                <dd>Move up - 1/2 page</dd>
                <dt><code>CTRL + D</code></dt>
                <dd>Move down - 1/2 page</dd>
                <dt><code>CTRL + B</code></dt>
                <dd>Scroll up - one page</dd>
                <dt><code>CTRL + F</code></dt>
                <dd>Scroll down - one page</dd>
                <dt><code>H</code> / <code>M</code> / <code>L</code></dt>
                <dd>Place cursor to top/center/bottom of the screen</dd>
            </dl>

            <h2 id="horizontal-scrolling">Horizontal scrolling</h2>
            <dl>
                <dt><code>zh</code></dt>
                <dd>Side scroll left - 1 line</dd>
                <dt><code>zl</code></dt>
                <dd>Side scroll right - 1 line</dd>
                <dt><code>zH</code></dt>
                <dd>Side scroll left - 1/2 screen width</dd>
                <dt><code>zL</code></dt>
                <dd>Side scroll right - 1/2 screen width</dd>
            </dl>

            <h2 id="quickfix">Quickfix</h2>
            <dl>
                <dt><code>:copen</code></dt>
                <dd>Opens quickfix list</dd>
                <dt><code>:cclose</code></dt>
                <dd>Closes quickfix list</dd>
                <dt><code>:chistory</code></dt>
                <dd>Shows list of past quickfix lists</dd>
                <dt><code>:colder</code></dt>
                <dd>Loads previous quickfix list</dd>
                <dt><code>:cnewer</code></dt>
                <dd>Loads next quickfix  list</dd>
            </dl>

            <h2 id="conflicts">Conflicts</h2>
            <dl>
                <dt><code>]n</code></dt>
                <dd>Next conflict marker</dd>
                <dt><code>[n</code></dt>
                <dd>Previous conflict marker</dd>
            </dl>

            <h2 id="miscellanious">Miscellaneous</h2>
            <dl>
                <dt><code>CTRL + ^</code></dt>
                <dd>Cycle between last 2 files</dd>
                <dt><code>gv</code></dt>
                <dd>Repeat last visual selection</dd>
                <dt><code>f.</code></dt>
                <dd>Jump to the next "." character</dd>
                <dt><code>#</code></dt>
                <dd>Highlight words equal the one under cursor + jumps to previous match</dd>
                <dt><code>*</code></dt>
                <dd>Highlight words equal the one under cursor + jumps to next match</dd>
                <dt><code>mA</code></dt>
                <dd>Creates global and persistent "A" mark</dd>
                <dt><code>'A</code></dt>
                <dd>Jumps to global mark "A"</dd>
                <dt><code>:set cuc</code> / <code>:set nocuc</code></dt>
                <dd>Turns on/off column cursor</dd>
                <dt><code>:set scb!</code></dt>
                <dd>Toggles scroll bind of 2 files</dd>
                <dt><code>:%!</code></dt>
                <dd>Filter whole buffer thru a command</dd>
                <dt><code>CTRL + R =</code></dt>
                <dd>Switches to calculator</dd>
            </dl>

            <h2 id="markology">Plugin: Markology</h2>
            <dl>
                <dt><code>m!</code></dt>
                <dd>Toggle Markology on/off</dd>
                <dt><code>m+</code></dt>
                <dd>Add a mark on current line</dd>
                <dt><code>m-</code></dt>
                <dd>Remove a mark from current line</dd>
                <dt><code>m_</code></dt>
                <dd>Remove all marks from current file</dd>
                <dt><code>m?</code></dt>
                <dd>Show preview window with all marks in current file</dd>
            </dl>
            
            <h2 id="nvimtree">Plugin: NvimTree</h2>
            <dl>
                <dt><code>CTRL + ]</code></dt>
                <dd>Change directory</dd>
            </dl>

            <h2 id="telescope">Plugin: Telescope</h2>
            <dl>
                <dt><code>CTRL + q</code></dt>
                <dd>Send current listed files to quickfix list</dd>
            </dl>
        </div>
    </section>
{% endblock %}
