{% extends "_base.html" %}

{% block title %}Nsxiv cheatsheet{% endblock %}

{% block content %}

    {% include "cheatsheets/_base.html" %}

    <section class="box-green">
        <div>
            <h1>Nsxiv cheatsheet</h1>

            <h2>Basics</h2>
            <dl>
                <dt><code>=</code></dt>
                <dd>100% zoom</dd>
                <dt><code>f</code></dt>
                <dd>fullscreen</dd>
                <dt><code>b</code></dt>
                <dd>toggle status bar</dd>
                <dt><code>CTRL + Space</code></dt>
                <dd>play/stop annimations</dd>
            </dl>
        </div>
    </section>
{% endblock %}
