{% extends "_base.html" %}

{% block title %}pg_dump cheatsheet{% endblock %}

{% block content %}

    {% include "cheatsheets/_base.html" %}

    <section class="box-green">
        <div>
            <h1>pg_dump cheatsheet</h1>

            <h2 id="basics">Basics</h2>
            <dl>
                <dt><code>-c</code></dt>
                <dd>adds drops on objects it creates</dd>
                <dt><code>-a</code></dt>
                <dd>dumps data only</dd>
                <dt><code>-O</code></dt>
                <dd>skips owner assignments</dd>
                <dt><code>-x</code></dt>
                <dd>skips ACL in general</dd>
                <dt><code>--if-exists</code></dt>
                <dd>adds conditional <code>IF EXISTS</code> drops</dd>
            </dl>
        </div>
    </section>

{% endblock %}
