{% extends "_base.html" %}

{% block title %}WeeChat cheatsheet{% endblock %}

{% block content %}

    {% include "cheatsheets/_base.html" %}

    <section class="box-green">
        <div>
            <h1>WeeChat cheatsheet</h1>

            <h2 id="chat">Chat</h2>
            <dl>
                <dt><code>Alt + Page Up</code></dt>
                <dd>Scroll 3 lines up</dd>
                <dt><code>Alt + Page Down</code></dt>
                <dd>Scroll 3 lines down</dd>
                <dt><code>Alt + Home</code></dt>
                <dd>Scroll all the way up</dd>
                <dt><code>Alt + End</code></dt>
                <dd>Scroll all the way down</dd>
                <dt><code>Alt + p</code></dt>
                <dd>Scroll to previous highlight</dd>
                <dt><code>Alt + n</code></dt>
                <dd>Scroll to next highlight</dd>
                <dt><code>Alt + =</code></dt>
                <dd>Toggle filter</dd>
            </dl>

            <h2 id="text-format"></h2>
            <dl>
                <dt><code>Ctrl + c, b</code></dt>
                <dd>Bold</dd>
                <dt><code>Ctrl + c, i</code></dt>
                <dd>Italic</dd>
                <dt><code>Ctrl + c, c, XX</code></dt>
                <dd>
                    Foregroud color where XX:
                    <ul>
                        <li>00 - white</li>
                        <li>01 - black</li>
                        <li>02 - blue</li>
                        <li>03 - green</li>
                        <li>04 - lightred</li>
                        <li>05 - red</li>
                        <li>06 - magenta</li>
                        <li>07 - brown</li>
                        <li>08 - yellow</li>
                        <li>09 - lightgreen</li>
                        <li>10 - cyan</li>
                        <li>11 - lightcyan</li>
                        <li>12 - lightblue</li>
                        <li>13 - lightmagenta</li>
                        <li>14 - darkgray</li>
                        <li>15 - gray</li>
                    </ul>
                </dd>
                <dt><code>Ctrl + c, b, XX</code></dt>
                <dd>Background color where XX (see ^)</dd>
                <dt><code>/input search_text_here</code></dt>
                <dd>Searches text in the current buffer</dd>
            </dl>

            <h2 id="topic">Topic</h2>
            <dl>
                <dt><code>F9</code></dt>
                <dd>Scroll topic to the right</dd>
                <dt><code>F10</code></dt>
                <dd>Scroll topic to the left</dd>
            </dl>

            <h2 id="users">Users</h2>
            <dl>
                <dt><code>Alt + Shift + n</code></dt>
                <dd>Toggle user list</dd>
                <dt><code>F11</code></dt>
                <dd>Scroll users list up</dd>
                <dt><code>F12</code></dt>
                <dd>Scroll users list down</dd>
            </dl>

            <h2 id="miscellanious">Miscellanious</h2>
            <dl>
                <dt><code>CTRL + r</code></dt>
                <dd>Search in chat</dd>
                <dt><code>Alt + l</code></dt>
                <dd>Bare display</dd>
            </dl>
        </div>
    </section>
{% endblock %}
