{% extends "_base.html" %}

{% block title %}Zathura cheatsheet{% endblock %}

{% block content %}

    {% include "cheatsheets/_base.html" %}

    <section class="box-green">
        <div>
            <h1>Zathura cheatsheet</h1>

            <h2>Basics</h2>
            <dl>
                <dt><code>a</code></dt>
                <dd>best fit</dd>
                <dt><code>s</code></dt>
                <dd>adjust width</dd>
                <dt><code>R</code></dt>
                <dd>Reload document</dd>
                <dt><code>r</code></dt>
                <dd>Rotate document</dd>
                <dt><code>d</code></dt>
                <dd>Toggle dual page view</dd>
                <dt><code>F5</code></dt>
                <dd>Presentation mode</dd>
                <dt><code>CTRL + n</code></dt>
                <dd>toggle status bar</dd>
            </dl>
        </div>
    </section>
{% endblock %}
