<section class="box-green">
    <div>
        <h1>Posts</h1>

        <ul>
            {% for post in posts() %}
                <li><a href="/posts/{{ post.1 }}">{{ post.0 }}</a></li>
            {% endfor %}
        </ul>
    </div>
</section>
