{% extends "_base.html" %}

{% block title %}Posts{% endblock %}

{% block content%}

    {% include "posts/_base.html" %}

    <section class="box-green">

        <div>
            <a href="__PDF_URL__" class="to-pdf" target="_blank">pdf</a>
            __POST_PLACEHOLDER__
        </div>
    </section>

{% endblock %}
