<!DOCTYPE html>
<html lang="en">
    <head lang="en">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Homepage{% endblock %} | n1's personal site</title>
        <link rel="stylesheet" href="/minireset.min.css">
        <link rel="stylesheet" href="/style.css">
        <!-- <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-touch-icon.png"> -->
        <!-- <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png"> -->
        <!-- <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png"> -->
        <!-- <link rel="manifest" href="/favicon/site.webmanifest"> -->
        <!-- <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5"> -->
        <!-- <meta name="msapplication-TileColor" content="#da532c"> -->
        <!-- <meta name="theme-color" content="#ffffff"> -->
    </head>
    <body>
        <header>I'm n1 - I read, write and code.</header>
        <div id="content">
            <nav class="box-green">
                <ul>
                    <li><a href="/posts.html">posts</a></li>
                    <li><a href="/projects.html">projects</a></li>
                    <li><a href="/dtops.html">dtops</a></li>
                    <li><a href="https://git.imn1.xyz">git</a></li>
                </ul>
                <ul>
                    <li><a href="/cheatsheets.html">cheatsheets</a></li>
                    <li><a href="/snippets.html">snippets</a></li>
                </ul>
                <ul>
                    <li><a href="/design.html">design</a></li>
                <!--     <li><a href="#">cli</a></li> -->
                </ul>
                <ul>
                    <li><a href="/books.html">books</a></li>
                    <li><a href="/advice.html">advice</a></li>
                    <li><a href="/me.html">me</a></li>
                </ul>
            </nav>
            <main>
                {% block content %}{% endblock %}
            </main>
        </div>
    </body>
</html>
