{% extends "_base.html" %}

{% block title %}Advice{% endblock %}

{% block content %}

    <section class="box-green">
        <div>
            <h1>Advice</h1>

            <ul class="advices">
                <li>Be true to yourself, you only get one try.</li>
                <li>Don't get a random bitch pregnant.</li>
                <li>Look after your teeth.</li>
                <li>Learn to save money.</li>
                <li>Learn how money can work for you.</li>
                <li>Don't be scared to get into a fight, if you
        don't show weakness you'll get into less shit
        than if u do.
                </li>
                <li>Don't be late.</li>
                <li>You are what you eat.</li>
                <li>Your body is capable of amazing things. Explore them.</li>
                <li>Don't be lazy.</li>
                <li>Dress well - especially shoes.</li>
                <li>When someone is talking you are listening.</li>
                <li>How hungry you are is a measure of how soon you should eat, not how much you should eat.</li>
                <li>Wake up early.</li>
                <li>Drink your coffee black.</li>
                <li>Repeat people's name when you meet them.</li>
                <li>Learn to enjoy hunger.</li>
                <li>Meet with friends more often than you think you have to.</li>
                <li>Walk more.</li>
                <li>Bring a bottle of wine.</li>
                <li>Money will come back, time not.</li>
                <li>Think globally act locally.</li>
            </ul>
        </div>
    </section>
{% endblock %}
