{% extends "_base.html" %}

{% block title %}Books{% endblock %}

{% block content%}

    <section class="box-green">
        <div>
            <h1>Books</h1>

            <h2>Books I should read</h2>
            <ul>
                {% for book in books() %}
                    <li>
                        {% if "epub" == book.0 %} 
                            <a href="/book-reader/index.html#{{ book.1 }}">{{ book.1 }}</a>
                        {% else %}
                            <a href="/book-reader/books/{{ book.1 }}">{{ book.1 }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>

            <h2>Books I've read and consider them great.</h2>
            <ul class="advices">
                <li><a href="https://www.goodreads.com/book/show/43877.The_Monk_Who_Sold_His_Ferrari" target="_blank">Robin S. Sharma - The Monk Who Sold His Ferrari</a></li>
                <li><a href="https://www.goodreads.com/book/show/22749723-who-gets-what-and-why" target="_blank">Alvin E. Roth - Who Get What - and Why</a></li>
                <li><a href="https://www.goodreads.com/book/show/40603816-the-pope-and-mussolini" target="_blank">David I. Kertzer - The Pope and Mussolini</a></li>
                <li><a href="https://www.goodreads.com/book/show/7315573-fall-of-giants" target="_blank">Ken Follett - Fall of Giants</a></li>
            </ul>
        </div>
    </section>
{% endblock %}
