{% extends "_base.html" %}

{% block title %}Design{% endblock %}

{% block content %}

    <section class="box-green">
        <div>
            <h1>Design that should stay/come back</h1>
            
            <div class="gallery">
                {% for design in designs() %}
                    <a href="{{ design.0 }}">
                        <figure>
                            <img src="{{ design.1 }}" alt="{{ design.2 }}">
                            <figcaption>{{ design.2 }} ({{ design.3 }})</figcaption>
                        </figure>
                    </a>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
