{% extends "_base.html" %}

{% block title %}Dtops{% endblock %}

{% block content %}

    <section class="box-green">
        <div>
            <h1>Dtops</h1>

            <h2>2025</h2>
            <div class="gallery">
                <a href="img/dtops/dtop_14.png" target="_blank">
                    <figure>
                        <img src="img/dtops/dtop_14_tmb.png" alt="dtop 14">
                        <figcaption><time datetime="2025-01">January</time></figcaption>
                    </figure>
                </a>
            </div>

            <h2>2024</h2>
            <div class="gallery">
                <a href="img/dtops/dtop_13.png" target="_blank">
                    <figure>
                        <img src="img/dtops/dtop_13_tmb.png" alt="dtop 13">
                        <figcaption><time datetime="2024-12">December</time></figcaption>
                    </figure>
                </a>
            </div>

            <h2>2023</h2>
            <div class="gallery">
                <a href="img/dtops/dtop_12.png" target="_blank">
                    <figure>
                        <img src="img/dtops/dtop_12_tmb.png" alt="dtop 12">
                        <figcaption><time datetime="2023-10">October</time></figcaption>
                    </figure>
                </a>
                <a href="img/dtops/dtop_11.png" target="_blank">
                    <figure>
                        <img src="img/dtops/dtop_11_tmb.png" alt="dtop 11">
                        <figcaption><time datetime="2023-08">August</time></figcaption>
                    </figure>
                </a>
                <a href="img/dtops/dtop_10.png" target="_blank">
                    <figure>
                        <img src="img/dtops/dtop_10_tmb.png" alt="dtop 10">
                        <figcaption><time datetime="2023-02">April</time></figcaption>
                    </figure>
                </a>
            </div>
            
            <h2>2022</h2>
            <div class="gallery">
                <a href="img/dtops/dtop_9.png" target="_blank">
                    <figure>
                        <img src="img/dtops/dtop_9_tmb.png" alt="dtop 9">
                        <figcaption><time datetime="2022-11">November</time></figcaption>
                    </figure>
                </a>
                <a href="img/dtops/dtop_8.png" target="_blank">
                    <figure>
                        <img src="img/dtops/dtop_8_tmb.png" alt="dtop 8">
                        <figcaption><time datetime="2022-03">March</time></figcaption>
                    </figure>
                </a>
                <a href="img/dtops/dtop_7.png" target="_blank">
                    <figure>
                        <img src="img/dtops/dtop_7_tmb.png" alt="dtop 7">
                        <figcaption><time datetime="2022-02">February</time></figcaption>
                    </figure>
                </a>
            </div>
            
            <h2>2021</h2>
            <div class="gallery">
                <a href="img/dtops/dtop_6.png" target="_blank">
                    <figure>
                        <img src="img/dtops/dtop_6_tmb.png" alt="dtop 6">
                        <figcaption><time datetime="2021-08">August</time></figcaption>
                    </figure>
                </a>
            </div>

            <h2>2020</h2>
            <div class="gallery">
                <a href="img/dtops/dtop_5.png" target="_blank">
                    <figure>
                        <img src="img/dtops/dtop_5_tmb.png" alt="dtop 5">
                        <figcaption><time datetime="2020-12">December</time></figcaption>
                    </figure>
                </a>
                <a href="img/dtops/dtop_4.png" target="_blank">
                    <figure>
                        <img src="img/dtops/dtop_4_tmb.png" alt="dtop 4">
                        <figcaption><time datetime="2020-02">February</time></figcaption>
                    </figure>
                </a>
            </div>

            <h2>2019</h2>
            <div class="gallery">
                <a href="img/dtops/dtop_3.png" target="_blank">
                    <figure>
                        <img src="img/dtops/dtop_3_tmb.png" alt="dtop 3">
                        <figcaption><time datetime="2019-12">December</time></figcaption>
                    </figure>
                </a>
                <a href="img/dtops/dtop_2.png" target="_blank">
                    <figure>
                        <img src="img/dtops/dtop_2_tmb.png" alt="dtop 2">
                        <figcaption><time datetime="2019-09">September</time></figcaption>
                    </figure>
                </a>
                <a href="img/dtops/dtop_1.png" target="_blank">
                    <figure>
                        <img src="img/dtops/dtop_1_tmb.png" alt="dtop 1">
                        <figcaption><time datetime="2019-08">August</time></figcaption>
                    </figure>
                </a>
                <a href="img/dtops/dtop_0.png" target="_blank">
                    <figure>
                        <img src="img/dtops/dtop_0_tmb.png" alt="dtop 0">
                        <figcaption><time datetime="2019-05">May</time></figcaption>
                    </figure>
                </a>
            </div>
        </div>
    </section>

{% endblock %}
