{% extends "_base.html" %}

{% block title %}Me{% endblock %}

{% block content %}

    <section class="box-green">
        <div>
            <h1>Me</h1>

            <div>
                <p>
                    <img src="/img/me.png" alt="me">
                </p>
                <ul>
                    <li>Pavel H. aka n1</li>
                    <li>born in 1988</li>
                    <li>Czech Republic</li>
                </ul>
            </div>
            
            <h2>Experience</h2>
            <ul>
                <li>started coding in 2006 (HTML/CSS/PHP)</li>
                <li>switched to Python in 2010</li>
                <li>worked in domestic and foreign companies (inc. corps)</li>
                <li>leading a team, communicating with a client</li>
            </ul>

            <h2>Languages</h2>
            <ul>
                <li>PHP (2008 - 2013)</li>
                <li>Python (2010 - now)</li>
                <li>Rust (2019 - now)</li>
            </ul>
            <ul>
                <li>HTML</li>
                <li>Pug</li>
                <li>CSS/SASS</li>
                <li>SQL</li>
            </ul>
            <ul>
                <li>LaTeX</li>
                <li>rST</li>
            </ul>

            <h2>Tools</h2>
            <ul>
                <li>Linux</li>
                <li>NeoVim</li>
                <li>standard CLI programs</li>
                <li>extra C/Rust/Go CLI tools</li>
            </ul> 

            <h2>GPG public key</h2>
            <ul>
                <li><a href="/other/me.gpg">download</a></li>
            </ul>

            <h2>CV</h2>
            <ul>
                <li><a href="/other/cv.pdf">download</a></li>
            </ul>
        </div>
    </section>

{% endblock %}
