{% extends "_base.html" %}

{% block title %}Projects{% endblock %}

{% block content %}

    <section class="box-green">
        <div>
            <h1>Projects</h1>
            
            <h2>Richy</h2>
            <p>
                Application that helps to manage your investing portfolio.
                Supports stock and crypto market.
            </p>

            <p>
                Written in Python and Django framework. Frontend uses UIKit.
            </p>

            <p>
                <a href="https://gitlab.com/imn1/richy" target="_blank">Repository</a>
            </p>

            <h2>GLP</h2>
            <p>
                GLP stands for GitLab Pipline. It's a small utility which helps to
                observe progress of Gitlab pipelines. Also shows some additional info
                like duration time.
            </p>

            <p>
                Written in Rust with 7 dependencies. Binary size is ~10 MB.
            </p>

            <p>
                <a href="https://gitlab.com/imn1/glp" target="_blank">Repository</a>
            </p>

            <h2>TRS</h2>
            <p>
                A command-line application for public transportation timesheets.
                Shows nearest departures from your favorite stations at once place.
            </p>
            <p>
                Written in Rust with 12 dependencies. Binary size ~13 MB.
            </p>
            <p>
                <a href="https://gitlab.com/imn1/trs" target="_blank">Repository</a>
            </p>

            <h2>Startpage</h2>
            <p>
                Pure HTML + CSS startpage for my browser. Serves like a dashboard for
                "new tab" page in a browser. Stylized into Gruvbox theme.
            </p>

            <p>
                Written in HTML and CSS. No JavaScript.
            </p>
            <p>
                <a href="https://gitlab.com/imn1/startpage" target="_blank">Repository</a>
            </p>

            <h2>Karpet</h2>
            <p>
                Library for fetching cryptocurrency data from various sources.
                Among the data fetched data are historical data (prices), trends,
                news and more. Fetching is done asynchronously if it possible.
            </p>
            <p>
                Written in Python 3 with 6 dependencies.
            </p>
            <p>
                <a href="https://gitlab.com/imn1/karpet" target="_blank">Repository</a>
            </p>

            <h2>Rug</h2>
            <p>
                 Library for fetching various stock data from the internet
                 (official and unofficial APIs). Scrapes the web and provides
                 data that are not so widely available or usually behind a paywall.
            </p>
            <p>
                Written in Python 3 with 1 dependency.
            </p>
            <p>
                <a href="https://gitlab.com/imn1/rug" target="_blank">Repository</a>
            </p>
            
            <h2>Gruvbox</h2>
            <p>
                Various repositories bringing gruvbox theme to various apps.
            </p>

            <ul>
                <li><a href="https://gitlab.com/imn1/gruvbox-mc" target="_blank">Midnight Commander</a></li>
                <li><a href="https://gitlab.com/imn1/gruvbox-mocp" target="_blank">MOCP</a></li>
                <li><a href="https://gitlab.com/imn1/gruvbox-msteams" target="_blank">Microsoft Teams</a></li>
                <li><a href="https://gitlab.com/imn1/gruvbox-cgit" target="_blank">cgit</a></li>
            </ul>

            <h2>LED strip</h2>
            <p>
                MicroPython project for NodeMCU and MQTT which allows to control
                a LED strip by simple commands. Works out of the box with
                HomeAssistant.
            </p>
            <p>
                <a href="https://gitlab.com/imn1/led_strip" target="_blank">Repository</a>
            </p>

            <h2>Tex</h2>
            <p>
                LaTeX primer for beginners or advanced users with examples included.
            </p>

            <p>
                Written in LaTeX.
            </p>

            <p>
                <a href="https://gitlab.com/imn1/tex" target="_blank">Repository</a>
            </p>

            <h2>Eagle <sup>[archived]</sup></h2>
            <p>
                Eagle is a simple CLI todo tool. It's so simple
                it hurts my coding skills. Can simply organize
                your tasks into groups. A task might be also planned
                to a certain date or might be recurring.
            </p>
            <p>
                The application is written in pure Python 3 with 0
                dependencies.
            </p>
            <p>
                <a href="https://github.com/im-n1/eagle", target="_blank">Repository</a>
            </p>

            <p>
                More projects and other stuff that I care about can be found on my
                <a href="https://git.imn1.xyz/" target="_blank">git</a>.
            </p>
        </div>
    </section>
{% endblock %}
